
<div class="container">
<div class="jumbotron">
    <h1>Transaction History</h1>
    
      <div class="row">
      <div class="col">
         
    <table>
         <thead>
             <tr>
                 <th>Amount</th>
                 <th>Type</th>
             </tr>
         </thead>

        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.amount}}</td>
                <td>{{transaction.typeOfTransaction}}</td>
                <td (click)="delete(transaction)">Delete</td>
            </tr>

           
        </tbody>

     </table>
     
    </div>
  </div>
 </div>
</div>