
<div class="container">
<div class="jumbotron">
    <h1>Transaction History</h1>
    
      <div class="row">
      <div class="col">
          <app-delete-confirmation [id]="id"></app-delete-confirmation>
         
    <table>
         <thead>
             <tr>
                 <th>Amount</th>
                 <th>Type</th>
             </tr>
         </thead>

        <tbody>
            <!-- <app-delete-confirmation (onCancel)="onCancel($event)" (onDelete)="onDelete($event)" [id]="id"></app-delete-confirmation> -->
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction._id}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.typeOfTransaction}}</td>
                <td><button class="btn btn-primary" (click)="showConfirmationDialog(transaction._id)">Delete</button></td>
            </tr>
 
        </tbody>

     </table>
     
    </div>
  </div>
 </div>
</div>